# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Database
*.db
*.sqlite3

# Environment secrets
.env

# VS Code
.vscode/

# Build & Dist artifacts
build/
dist/
*.spec
*.exe
*.zip

# Audio & Vector databases
**/data/audio/
**/data/chroma_db/
**/data/uploads/
**/chroma_db/
**/audio/
*.log
